<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AFOL Toolbox{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/material_icons.css" %}">
</head>
<body>
<header>
    <nav>
        <div class="nav-folder">
            <div class="nav-folder-label">Folder A</div>
            <div class="nav-leaf">Leaf A.1</div>
            <div class="nav-folder">
                <div class="nav-folder-label">Folder A.A</div>
                <div class="nav-leaf">Leaf A.A.1</div>
                <div class="nav-leaf">Leaf A.A.2</div>
                <div class="nav-folder">
                    <div class="nav-folder-label">Folder A.A.A</div>
                    <div class="nav-leaf">Leaf A.A.A.1</div>
                    <div class="nav-leaf">Leaf A.A.A.2</div>
                </div>
                <div class="nav-leaf">Leaf A.A.3</div>
            </div>
            <div class="nav-leaf">Leaf A.2</div>
        </div>
        <div class="nav-folder">
            <div class="nav-folder-label">Folder B</div>
            <div class="nav-leaf">Leaf B.1</div>
            <div class="nav-folder">
                <div class="nav-folder-label">Folder B.A</div>
                <div class="nav-leaf">Leaf B.A.1</div>
                <div class="nav-leaf">Leaf B.A.2</div>
                <div class="nav-leaf">Leaf B.A.3</div>
            </div>
            <div class="nav-leaf">Leaf B.2</div>
        </div>
    </nav>
</header>
<main>
    {% block content %}
        ProjectM306
    {% endblock %}
</main>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/afol_toolbox.js" %}"></script>
<footer>
    Footer
    <br>
    Footer
    <br>
    ###TODO###
</footer>
</body>
</html>