<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AFOL Toolbox{% endblock %}</title>
    {% load static %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/material_icons.css" %}">
</head>
<body>
<header>
    Menu
    <br>
    ###TODO###
</header>
<main>
    {% block content %}
        ProjectM306
    {% endblock %}
</main>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<footer>
    Footer
    <br>
    Footer
    <br>
    ###TODO###
</footer>
</body>
</html>