<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AFOL Toolbox{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "css/material_icons.css" %}">
</head>
<body>
<nav>
    {{ menu }}
</nav>
<script type="text/javascript" src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/afol_toolbox.js" %}"></script>
<main>
    {% block content %}
        ProjectM306
    {% endblock %}
</main>
<footer>
    Footer
    <br>
    Footer
    <br>
    ###TODO###
</footer>
</body>
</html>
