{% extends 'base_page.html' %}
{% block title %}Gear Ratio Calculator{% endblock %}
{% block content %}
    <table id="combination_table">
        <caption></caption>
        <thead>
        <tr>
            <th id="th_driver">Driver</th>
            <th id="th_follower">Follower</th>
            <th id="th_ratio">Ratio</th>
            <th id="th_buttons"></th>
        </tr>
        </thead>
        <tbody id="combination_tbody">
        </tbody>
    </table>
    <a class="waves-effect waves-light btn" onclick="add_combination()"><i class="material-icons">add</i>Add Combination</a>
    <a class="waves-effect waves-light btn" onclick="remove_all_combinations()"><i
            class="material-icons">delete_sweep</i>Remove All</a>
    <br>
    <span class="total_ratio_text">Total Gear Ratio: </span>
    <span class="ratio" id="total_ratio"></span>
    <span class="total_ratio_text" id="ratio_explaination"></span>
    <script>
        const gears_data = {{ gears_data }};
        const gear_groups = {{ gear_groups }};

        function add_combination() {
            let tbody = document.getElementById("combination_tbody");
            let tr = document.createElement("tr");
            let td_driver = document.createElement("td");
            let td_follower = document.createElement("td");
            let td_ratio = document.createElement("td");
            let td_buttons = document.createElement("td");
            tbody.appendChild(tr);
            tr.appendChild(td_driver);
            tr.appendChild(td_follower);
            tr.appendChild(td_ratio);
            tr.appendChild(td_buttons);

            let row_id = "tr" + tbody.childElementCount;
            tr.id = row_id;
            td_driver.appendChild(create_gear_select(row_id, "driver"));
            td_follower.appendChild(create_gear_select(row_id, "follower"));

            let del_btn = document.createElement("i");
            del_btn.classList.add("material-icons");
            del_btn.classList.add("hoverable");
            del_btn.innerText = "delete_forever";
            del_btn.onclick = function () {
                if (document.getElementById("combination_tbody").childElementCount <= 1) {
                    return; // user can't remove last combination
                }
                let tr_to_del = document.getElementById(row_id);
                tr_to_del.parentElement.removeChild(tr_to_del);
                recalculate();
            };
            td_buttons.appendChild(del_btn);

            td_ratio.id = row_id + "_ratio";
            td_ratio.classList.add("row_ratio");
            td_ratio.classList.add("ratio");
            update_combination_ratio(row_id);
            $(document).ready(function () {
                $('select').formSelect();
            });
        }

        function create_gear_select(row_id, select_id) {
            let div = document.createElement("div");
            div.classList.add("input-field");
            div.classList.add("col");
            div.classList.add("s12");
            let sel = document.createElement("select");
            sel.id = row_id + "select_" + select_id;
            for (let i_group = 0; i_group < gear_groups.length; i_group++) {
                let group_name = gear_groups[i_group];
                let optgroup = document.createElement("optgroup");
                optgroup.label = group_name;
                let gear_list = gears_data[i_group];
                for (let i_gear = 0; i_gear < gear_list.length; i_gear++) {
                    let g = gear_list[i_gear];
                    let opt = document.createElement("option");
                    opt.value = g["teeth"];
                    opt.innerText = g["name"];
                    optgroup.appendChild(opt);
                }
                sel.appendChild(optgroup);
            }
            sel.value = "8";
            sel.onchange = function () {
                update_combination_ratio(row_id);
            };
            div.appendChild(sel);
            return div;
        }

        function set_ratio_color(element, driver, follower) {
            element.classList.remove("ratio-overdrive");
            element.classList.remove("ratio-reduction");
            if (driver > follower) {
                element.classList.add("ratio-overdrive");
            } else if (follower > driver) {
                element.classList.add("ratio-reduction");
            }
        }

        function get_ratio_text(driver, follower) {
            let a, b;
            let text = driver + ":" + follower;
            if (driver > follower) {
                a = 1;
                b = follower / driver;
            } else {
                a = driver / follower;
                b = 1;
            }
            if (driver !== 1 && follower !== 1) {
                text += " = " + round_number2places(a) + ":" + round_number2places(b)
            }
            return text;
        }

        function update_combination_ratio(row_id) {
            let df = get_selected_teeth(row_id);
            let d = df[0];
            let f = df[1];
            let shorten = shorten_fraction(d, f);
            d = shorten[0];
            f = shorten[1];
            let ratio_td = document.getElementById(row_id + "_ratio");
            ratio_td.innerText = get_ratio_text(d, f);
            set_ratio_color(ratio_td, d, f);
            recalculate();
        }

        function remove_all_combinations() {
            let tbody = document.getElementById("combination_tbody");
            while (tbody.lastChild) {
                tbody.removeChild(tbody.lastChild);
            }
            add_combination();
        }

        function get_selected_teeth(row_id) {
            let driver_select = document.getElementById(row_id + "select_driver");
            let follower_select = document.getElementById(row_id + "select_follower");
            let d = driver_select.value;
            let f = follower_select.value;
            return [d, f];
        }

        function recalculate() {
            let total_span = document.getElementById("total_ratio");
            let trs = document.getElementById("combination_tbody").children;
            let a = 1;
            let b = 1;
            for (let i = 0; i < trs.length; i++) {
                let row_id = trs[i].id;
                let df = get_selected_teeth(row_id);
                a *= df[0];
                b *= df[1];
            }
            let short = shorten_fraction(a, b);
            a = short[0];
            b = short[1];
            total_span.innerText = get_ratio_text(a, b);
            let expl = document.getElementById("ratio_explaination");
            if (a > b) {
                expl.innerText = "Speed increased, Torque decreased (Overdrive)"
            }else if (a < b) {
                expl.innerText = "Speed decreased, Torque increased (Reduction)"
            } else {
                expl.innerText = "";
            }
            set_ratio_color(total_span, a, b);
            set_ratio_color(expl, a, b);
        }

        add_combination();
    </script>
{% endblock %}
