.file-icon.size0 {
    height: 15px;/*TODO make all this values the same as materialize (1rem, 2rem, 4rem, 6rem)*/
    width: 15px;
}

.file-icon.size1 {
    height: 30px;
    width: 30px;
}

.file-icon.size2 {
    height: 60px;
    width: 60px;
}

.file-icon.size3 {
    height: 90px;
    width: 90px;
}

body {
    background-color: #333333;
    min-height: 100vh; /* TODO make the page at least as high as the window*/
    color: #dddddd;
}

header {
    background-color: #555555;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.5cm;
}

footer {
    background-color: #222222;
    margin-bottom: 0;
}

table {
    background-color: #555555;
}

table img {
    height: 2rem;
    width: 2rem;
}

/*img.big-on-hover:hover {

}*/

tr:hover img {
    height: 5rem;
    width: 5rem;
}

tr:hover td.bigger-on-hover {/* todo not for colspan or rowspan > 1*/
    font-size: 3rem;
    background-color: #aaaaaaaa;
}

/*
td {
    border: black solid thin !important;
}*/
